/*Color Palette:
	Sizzling Red: #FB3954
	Vivid Cerulean: #00A6FB
	Smoky Black: #070707
	Isabelline: #EFEFEF
	Baby Powder: #FDFFFC
*/
body{
	font-family: "Microsoft Yi BaiTi";
	font-weight: bold;
	/*background-image: linear-gradient(#202020,#303030);*/
	background-color: #070707;
}

h1, h2 {
	color: #EFEFEF;
}

p,ul{
	font-size: 15px;
	color: #FDFFFC;
}
.center-txt{
	text-align: center;
}
#logo {
	display: block;
	width: 10%;
	height: 10%;
	margin-left: auto;
	margin-right: auto;
}
